<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"> 
    <head> 
        <meta charset="UTF-8"> 
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="_csrf" th:content="${_csrf.token}"/>
        <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
        <title>Todo</title> 
    </head> 

    <body> 
        <h1>Todo</h1> 

        <form th:action="@{/logout}" method="post">
            <button type="submit">로그아웃</button>
        </form>

        <form th:action="@{/add}" method="post">
            <input type="text" name="title" placeholder="할 일 입력" required>
            <button type="submit">추가</button>
        </form>

        <ul>
            <li th:each="todo : ${todos}" th:id="'todo-' + ${todo.id}">
                <span
                    th:text="${todo.title}"
                    th:classappend="${todo.completed} ? 'completed' : ''">
                </span>
                <button th:data-id="${todo.id}" onclick="deleteTodo(this)">삭제</button>
            </li>
        </ul>
    
        <!-- 스크립트 -->
        <script>
            const csrfToken = document.querySelector('meta[name="_csrf"]').content;
            const csrfHeader = document.querySelector('meta[name="_csrf_header"]').content;

            function deleteTodo(button) {
                const todoId = button.getAttribute("data-id");

                fetch("/todo/" + todoId, {
                    method: "DELETE",
                    headers: {
                        'X-CSRF-TOKEN': csrfToken
                    }
                }).then(response => {
                    if (response.ok) {
                        document.getElementById('todo-' + todoId).remove();
                    }});
            }
        </script>

    </body> 
</html>